.menu {
    display: block;
    padding-top: 51px;
    transition: 0.5s ease;
}

.menu--active {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    height: 120px;
    z-index: 150;

    @media (max-width: 840px) {
        display: none;
    }
}

.burger__wrapper {
    position: fixed;
    display: none;
    margin: 30px;
    right: 0;
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -1px 13px 2px rgba(0,0,0,0.75);
    cursor: pointer;
    z-index: 10;
    @media (max-width: 840px) {
        display: block;
    }
}

.burger {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 5;
}

.burger span {
    display: block;
    position: absolute;
    left: 0;
    height: 5px;
    width: 45px;
    background-color: #58b4b9;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    border-radius: 20px;
}

.burger span span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-child(2) {
    top: 13px;
    transform-origin: left center;
}

.burger span:nth-child(3) {
    top: 26px;
    transform-origin: left center;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 32px;
    left: 5px;
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 840px) {
        display: none;
    }
}

.menu__logo-img {
    width: clamp(1.375rem, 1.21rem + 0.29vw, 1.563rem);
}

.menu__logo-title {
    font-size: clamp(0.875rem, 0.765rem + 0.2vw, 1rem);
}

.menu__nav {
    z-index: 150;
}

.menu__list {
    display: flex;
}

.menu__item {
    font-size: clamp(0.813rem, 0.702rem + 0.2vw, 0.938rem);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.3px;
    margin-right: 45px;
    transition: 0.5s ease;
    color: $primaryColor;

    &:hover {
        font-weight: 700;
        color: $secondColor;
    }

    @media (max-width: 1000px) {}
}

.menu__num {
    display: flex;
    align-items: center;
    z-index: 150;
}

.menu__number-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.menu__number-img {
    align-items: center;
    margin-right: 5px;
    transition: 0.5s ease;

    svg path {
        transition: 0.5s ease;
    }

    svg {
        transition: 0.5s ease;
    }
}

.menu__number-link:hover {

    .menu__number-img {
        transform: scale(1.2);
        width: 25px;
        height: 22px;
        background-color: $secondColor;
    }

    svg {
        width: 22px;
    }

    svg path {
        fill: #ffffff;
    }
}

.menu__number {
    font-size: clamp(0.813rem, 0.702rem + 0.2vw, 0.938rem);
}

.menu__basket {
    position: relative;
    margin-left: 67px;
}

.menu__basket-image {
    width: clamp(1.25rem, 1.029rem + 0.39vw, 1.5rem);
}

#menu__basket-count {
    position: absolute;
    top: -20%;
    right: -40%;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.18px;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding: 2px 2px 2px 2px;
    background-color: #998E78;
    color: #fff;
}

.menu__basket-count--hidden {
    display: none;
}


.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e9c9fa7;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.modal--open {
    opacity: 1;
    visibility: visible;
    clip-path: none;
}

.modal__window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: #ffffff;
}

.modal__window--open {
    display: none;
}

.modal__window--up {
    animation: transform 1.4s ease 0s;
}

@keyframes transform {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.modal__window--animation {
    transition: all .5s ease;
    animation: polygon 1.4s ease 0s;
}

@keyframes polygon {
    0% {
        clip-path: circle(8.0% at 50% 50%);
    }

    100% {
        clip-path: circle(70.7% at 50% 50%);
    }
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.modal__scroll-fixed {
    overflow-y: hidden;
}

.modal__window-after {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    background-color: #ffffff;
}

.modal__window-after--active {
    display: flex;
}

.modal__window-after--animation {
    animation: scale-up-center 0.7s both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.modal__window-after-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
}

.modal__window-after-button {
    padding: 22px 50px;
    border: 1px solid $secondColor;

    span {
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        line-height: 138.9%;
        letter-spacing: 0.34px;
        color: $secondColor;
    }
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.modal__form-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.5px;
}

.modal__form-input-wrapper {}

.modal__form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.34px;
    margin-bottom: 16px;
    color: #868686;
}

.form__line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.modal__form-button-link {
    z-index: 2;
}

.modal__form-button {
    text-align: center;
}