.brand {
    
}

.brand__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 130px;
}

.brand__title {
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.5px;
    margin-bottom: 46px;
}

.brand__text {
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.34px;
    width: 542px;
}

.brand__button-box {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}